#car-park-booking-form-style,
#car-park-booking-form-style .form_field_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#car-park-booking-form-style .form_field_wrapper label {
    color: #004280;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25em;
}

#car-park-booking-form-style .form_field_wrapper input,
#car-park-booking-form-style .form_field_wrapper select,
#car-park-booking-form-style .form_field_wrapper textarea {
    background-color: #EBEBEB;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #004280;
    font-size: 1rem;
    font-weight: 500;
}

#car-park-booking-form-style .form_field_wrapper input:focus-visible,
#car-park-booking-form-style .form_field_wrapper input:focus,
#car-park-booking-form-style .form_field_wrapper select:focus-visible,
#car-park-booking-form-style .form_field_wrapper select:focus,
#car-park-booking-form-style .form_field_wrapper textarea:focus-visible,
#car-park-booking-form-style .form_field_wrapper textarea:focus {
    box-shadow: none !important;
    border: none !important;
}

#car-park-booking-form-style .name_email,
#car-park-booking-form-style .timing_slot .start_time,
#car-park-booking-form-style .timing_slot .end_time {
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    width: 100%;
}

#car-park-booking-form-style #submit-booking {
    background-color: #F9BE57;
    color: #004280;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25em;
}

#car-park-booking-form-style .timing_slot {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #car-park-booking-form-style .timing_slot,
    #car-park-booking-form-style .name_email {
        grid-template-columns: 100%;
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {

    .main #form_data .form-contant .firstAndLastName {
        display: block;
    }

    .firstAndLastName .lname {
        margin-top: 15px;
    }

    .main .send_mail_data .send_mail_form_contant h1 {
        font-size: 35px;
    }

    .dropdown_list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: start !important;
        align-items: center;
        gap: 20px;
    }

    .dropdown_list form {
        width: 100%;
    }

    .date_filter {
        width: 100%;
    }

    .dataTables_wrapper {
        overflow: scroll;
    }

    .dataTables_wrapper .dataTables_length {
        display: none !important;
    }

    .dataTables_wrapper .dataTables_info {
        margin: auto;
    }

    a.btn.btn-primary.btn-column-filter,
    #get_all_users_filter {
        display: none;
    }

    .main .send_mail_data .send_mail_form_contant {
        width: 100%;
    }

    .main #form_data .form-contant .firstAndLastName,
    .main .send_mail_data .send_mail_form_contant .subjectAndemailfrom {
        grid-template-columns: 100%;
    }

    .main .send_mail_data .send_mail_form_contant div input {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #wpbody {
        padding-right: 20px;
        padding-left: 20px;
    }
}